<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>
    <div class="login">
        <h1>Predict Profit Analysis</h1>

        <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict')}}" method="post">

            
            <input type="text" name="r&d_1" placeholder="R&D Spend" required="required" />
            <input type="text" name="administration_1" placeholder="Administration" required="required" />
            <input type="text" name="marketing_spend_1" placeholder="Marketing Spend" required="required" />
            <input type="text" name="state_1" placeholder="At least 3 State different from others" required="required" />
            <br>

            
            <input type="text" name="r&d_2" placeholder="R&D Spend" required="required" />
            <input type="text" name="administration_2" placeholder="Administration" required="required" />
            <input type="text" name="marketing_spend_2" placeholder="Marketing Spend" required="required" />
            <input type="text" name="state_2" placeholder="At least 3 State different from others" required="required" />
            <br>

            
            <input type="text" name="r&d_3" placeholder="R&D Spend" required="required" />
            <input type="text" name="administration_3" placeholder="Administration" required="required" />
            <input type="text" name="marketing_spend_3" placeholder="Marketing Spend" required="required" />
            <input type="text" name="state_3" placeholder="At least 3 State different from others" required="required" /><br>
            
            <input type="text" name="r&d_4" placeholder="R&D Spend" required="required" />
            <input type="text" name="administration_4" placeholder="Administration" required="required" />
            <input type="text" name="marketing_spend_4" placeholder="Marketing Spend" required="required" />
            <input type="text" name="state_4" placeholder="At least 3 State different from others" required="required" />
            
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>

        <br>
        <br>
        {{ prediction_text }}

    </div>


</body>

</html>
